@import './../../styles.scss';

.player {
    padding: 8px;
    background-color: orange;
    border-radius: 50px 0 0 50px;
    width: 300px; 
    @include dFlex($jc: flex-start,$g: 16px); 
    img {
        width: 80px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 100%;
    }
    .name {
        font-size: 24px;
        font-weight: 700;
    }
}