@import './../../styles/mixin.scss';

.start-screen {
    background-color: #404040;
    background-image: url('../../assets/img/start-screen.jpg');
    background-repeat: none;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    @include dFlex($fdir: column);
    h1 {
        color: white;
        font-size: 2.986rem;
    };
    button {
        background-color: rgb(252,162,0);
        padding: 8px;
        border-radius: 8px;
        font-weight: 700;
        &:hover {
            cursor: pointer;
            background-color: rgb(253,201,3);
        }
    }
}