@import './../../styles/mixin.scss';

.players {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    max-width: 100%;
    overflow-y: hidden;
    @include dFlex($fdir: column,$jc: flex-start,$ai: flex-end);
    pointer-events: none;
    padding: 32px 0 104px 0;
}

.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('../../assets/img/wood-background.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    @include dFlex();
}

.card-stack {
    position: relative;
    img {
        position: absolute;
        width: 100px;
    }
}

.top-card {
   cursor: pointer;
   transition: all 125ms ease-in-out;
   &:hover {
    transform: scale(1.1) translateY(-10px);
   } 
}

.pick-card {
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1) translateX(120px) translateY(-150px) rotate(-10deg);
}

.played-card {
    transform: scale(1) translateX(120px) translateY(-150px) rotate(-10deg);
    right: 20px;
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    };
    30% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1) translateX(120px) translateY(-150px) rotate(-10deg);
    }
}


.btn-add {
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.pin-bottom {
    position: absolute;
    bottom: 32px;
    left: 32px;
    right: 104px;
}
