@import './../../styles.scss';

.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('/assets/img/wood-background.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    @include dFlex();
}

.card-stack {
    position: relative;
    img {
        position: absolute;
    }
}